<header class="page-header"><div class="wrapper">
  <h1>Products</h1>
</div></header>

<div class="page-content--has-sidebar"><div class="wrapper">
  {{outlet}}
</div></div>

<footer class="page-footer"><div class="wrapper">
  <p>Click a product to add it to your cart</p>
</div></footer>
