<main class="page-main" role="main">

  <div class="product-browse">
    {{#each product in model}}
      {{product-item product=product}}
    {{/each}}
  </div>

</main>

<aside class="page-aside">

  <div id="cart-count" class="cart-count">
    <strong>2</strong> products in cart
  </div>

  <ul id="filters" class="filters">
    <li><a href="all" class="selected">All</a></li>
    <li><a href="active">Active</a></li>
    <li><a href="completed">Completed</a></li>
  </ul>

  <div id="cart"></div>

</aside>
